<div *ngIf="currentChapter">
  <ul class="chapter-control">
    <li>
      <button md-icon-button color="primary" (click)="prevChapter()">
        <md-icon class="md-24">keyboard_arrow_left</md-icon>
      </button>
    </li>
    <li>
      <md-input placeholder="{{currentManga.title}} {{currentChapter.no}}/{{lastChapterNo}}" style="width: 20%"
        [(ngModel)]="gotoChapterNo" (keyup.enter)="gotoChapter()"></md-input>
    </li>
    <li>
      <button md-icon-button color="primary" (click)="nextChapter()">
        <md-icon class="md-24">keyboard_arrow_right</md-icon>
      </button>
    </li>
  </ul>
  <div *ngFor="let imgLink of currentChapter.imgs">
    <img class="ui centered" [lazyLoad]="imgLink" />
  </div>
</div>
