<!--
<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <ul class="mymenu">
      <li>
        <a  routerLink="/manga" routerLinkActive="active" >Manga</a>
      </li>
      <li>
        <button md-button color="primary" (click)="authService.login()" *ngIf="!authService.authenticated()"
          class="ui mini button"> Login
        </button>
        <button md-button color="primary" (click)="authService.logout()" *ngIf="authService.authenticated()"
          class="ui mini button"> Logout
        </button>
      </li>
    </ul>
  </md-sidenav>
  <div class="control-bar">
    <button md-icon-button color="primary" (click)="sidenav.toggle()">
      <md-icon class="md-24">reorder</md-icon>
    </button>
  </div>
</md-sidenav-layout> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
